<app-header></app-header>
<div class="landing--container">
  <div class="container landing">
    <div class="landing--card">
      <div class="content">
        <h2>Github Repositories Listing Application</h2>
      </div>
      <form ngNativeValidate (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="username" class="label">
            Please enter a valid github username
          </label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              placeholder="Enter Username"
              required
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
          </div>
        </div>
        <p *ngIf="errorMessage" class="has-text-danger mb-3">
          {{ errorMessage }}
        </p>
        <div class="control">
          <button
            type="submit"
            [ngClass]="{ 'is-loading': isLoading }"
            class="button btn--submit"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
