<div class="repositories--container">
  <div class="columns">
    <div class="field column has-addons is-flex">
      <div class="control has-icons-left is-flex-grow-1">
        <input
          [ngModel]="searchTerm"
          (ngModelChange)="onSearchTermChange($event)"
          class="input"
          type="text"
          placeholder="Search Repositories"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <div class="control">
        <button class="button btn--submit" (click)="onSearchSubmit()">
          Search
        </button>
      </div>
    </div>
    <div class="field column is-narrow">
      <div class="control">
        <div class="select">
          <select
            name="perPage"
            id="perPage"
            [ngModel]="perPage"
            (ngModelChange)="onPerPageChange($event)"
          >
            <option [value]="10" [defaultSelected]>10 per page</option>
            <option [value]="50">50 per page</option>
            <option [value]="100">100 per page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isReposLoading" class="columns is-multiline is-desktop">
    <app-loader
      *ngFor="let item of loaderArray"
      class="column is-6-desktop is-full-tablet"
    ></app-loader>
  </div>
  <div
    *ngIf="!isReposLoading && repos.length"
    class="columns is-multiline is-desktop"
  >
    <app-repo-detail
      *ngFor="let repo of repos"
      [repo]="repo"
      class="column is-6-desktop is-full-tablet"
    ></app-repo-detail>
  </div>
</div>
