<div class="repositories--container pb-4">
  <form class="columns" (ngSubmit)="onSearchSubmit()">
    <div class="field column has-addons is-flex">
      <div class="control has-icons-left is-flex-grow-1">
        <input
          name="searchTerm"
          [ngModel]="searchTerm"
          (ngModelChange)="onSearchTermChange($event)"
          class="input"
          type="text"
          placeholder="Search Repositories"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <div class="control">
        <button class="button btn--submit" (click)="onSearchSubmit()">
          Search
        </button>
      </div>
    </div>
    <div class="field column is-narrow">
      <div class="control">
        <div class="select">
          <select
            name="perPage"
            id="perPage"
            [ngModel]="perPage"
            (ngModelChange)="onPerPageChange($event)"
          >
            <option [value]="10" [defaultSelected]>10 per page</option>
            <option [value]="50">50 per page</option>
            <option [value]="100">100 per page</option>
          </select>
        </div>
      </div>
    </div>
  </form>

  <!-- Show loader while fetching repos -->
  <div *ngIf="isReposLoading" class="columns is-multiline is-desktop">
    <app-loader
      *ngFor="let item of loaderArray"
      class="column is-6-desktop is-full-tablet"
    ></app-loader>
  </div>

  <!-- Display repos -->
  <div
    *ngIf="!isReposLoading && repos.length"
    class="columns is-multiline is-desktop"
  >
    <app-repo-detail
      *ngFor="let repo of repos"
      [repo]="repo"
      class="column is-6-desktop is-full-tablet"
    ></app-repo-detail>
  </div>

  <!-- If user has no repos matching searchTerm -->
  <div
    *ngIf="!isReposLoading && !repos.length && searchTerm"
    class="columns is-multiline is-desktop"
  >
    <div class="container has-text-centered pt-5">
      <h3 class="has-color-grey">No such repository exist</h3>
    </div>
  </div>

  <!-- If user has no repos -->
  <div
    *ngIf="!isReposLoading && !repos.length && !searchTerm"
    class="columns is-multiline is-desktop"
  >
    <div class="container has-text-centered pt-5">
      <h3 class="has-color-grey">No public repositories to show</h3>
    </div>
  </div>

  <!-- Display pagination when displaying repos -->
  <app-pagination
    *ngIf="!isReposLoading && repos.length"
    [pageDetails]="pageDetails"
    [currPage]="currPage"
    (onCurrentPageChange)="onCurrentPageChange($event)"
  ></app-pagination>
</div>
